<div class="welcome-message">
    <h1>Welcome to Our Healthcare App</h1>
    <p>Providing quality healthcare services for a healthier life.</p>
  </div>
  
  <div class="app-features">
    <h2>App Features</h2>
    <ul>
      <li><a routerLink="/doctors">Find Doctors</a></li>
      <li><a routerLink="/make-appointment">Make Appointment</a></li>
      <li><a routerLink="/patient-profile">Patient Profile</a></li>
      <!-- Add more features as needed -->
    </ul>
  </div>
  
  <div class="action-buttons">
    <button routerLink="/doctor-registration">Register as Doctor</button>
    <button routerLink="/patient-registration">Register as Patient</button>
    <button routerLink="/make-appointment">Make an Appointment</button>
  </div>
  
  <div class="about-us">
    <h2>About Us</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt, neque at varius dignissim, elit mi aliquet libero...</p>
  </div>
  